<!DOCTYPE html>
    <html 
        style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;"
    >
    <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <title>Forgot Password Email</title>
</head>

<body 
    style="
        box-sizing: border-box; 
        margin: 0;
        padding: 0;
        height: 100%;
        line-height: 1.6em;
        background-color: #f6f6f6;
    "
    itemscope 
    itemtype="http://schema.org/EmailMessage" 
    bgcolor="#f6f6f6">

    <table 
        style="
            box-sizing: border-box; 
            margin: 0;
            padding: 0;
            width: 100%; 
            background-color: #f6f6f6;
        "
        bgcolor="#f6f6f6"
    >
        <tr>
            <td width="600">
                <div 
                    style="
                        box-sizing: border-box; 
                        margin: 0;
                        padding: 0;
                        max-width: 600px;
                        margin: 0 auto; 
                        padding: 20px;
                    "
                    >
                    <h3 
                        style="
                            box-sizing: border-box; 
                            margin: 0;
                            padding: 0;
                            font-size: 25px;
                            max-width: 400px; 
                            margin: 8px 0 30px 10px; 
                            line-height: 31px;
                            color: #4D4D4D;
                        "
                        > 
                        Recuperação de senha</h3>
                    <table 
                        style="
                            box-sizing: border-box; 
                            margin: 0;
                            padding: 0;
                            width: 560px;
                            background-position: bottom;
                            background-image: url('https://cdn.discordapp.com/attachments/825057801687662612/955128622228852796/app_background.png');
                            color: #fff; 
                            background-color: #0d74d1;
                            width: 100%; 
                            margin: 10px 0;
                            border-radius: 10px;  
                            padding: 10px 15px;
                        "
                        bgcolor="#0d74d1">
                        <tr>
                            <td style="
                                box-sizing: border-box; 
                                margin: 0;
                                padding: 0;
                                text-align: center;
                            ">
                                <img style="
                                    width: 270px;
                                    height: 112px;
                                    display: inline-block; 
                                    
                                " 
                                width="112"
                                src="https://media.discordapp.net/attachments/825057801687662612/955128126072041522/app_logo.png">
                            </td>
                        </tr>
                        
                    </table>

                    <table 
                    style="
                        box-sizing: border-box; 
                        margin: 0;
                        padding: 0;
                        width: 100%;
                        border-radius: 10px; 
                        background-color: #fff; 
                        margin: 0; 
                        padding: 10px 0; 
                        border: 1px solid #e9e9e9;
                    "
                        cellpadding="0" 
                        cellspacing="0" 
                        itemprop="action" 
                        itemscope 
                        itemtype="http://schema.org/ConfirmAction" 
                        bgcolor="#fff">
                    <tr>
                        <td 
                        
                            style="
                                box-sizing: border-box; 
                                margin: 0;
                                padding: 0;
                                padding: 20px;
                                width: 50px;
                            "
                            >
                            <img 
                            style="      
                                box-sizing: border-box; 
                                margin: 0;
                                padding: 0;
                                width: 85px;
                                height: 99px;
                                margin: 10px;
                                display:block;
                            "
                                 
                                src="https://cdn.discordapp.com/attachments/825057801687662612/955131356688576603/character_bg.png" 
                                border="0" 
                            />
                        <td>
                        <td style="
                                box-sizing: border-box; 
                                margin: 0;
                                padding: 0;
                                font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
                                -webkit-font-smoothing: antialiased; 
                                -webkit-text-size-adjust: none;
                                vertical-align: middle;
                            " valign="top">
                            <a 
                                href="{{redirect}}"
                                style="
                                    display: inline-block;
                                    box-sizing: border-box; 
                                    margin: 0;
                                    margin-bottom: 7px;
                                    padding: 0;
                                    color: #4D4D4D;
                                    font-weight: bold;
                                    font-size: 14px;
                                "
                                >
                                > Clique aqui para alterar senha
                            </a>  
                            <br />
                            <span
                            style="
                                box-sizing: border-box; 
                                margin: 0;
                                margin-top: 2px;
                                padding: 0;
                                font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
                                -webkit-font-smoothing: antialiased; 
                                -webkit-text-size-adjust: none;
                                white-space: nowrap; 
                                display: block; 
                                color: #616161;
                                font-size: 12px
                            "
                            >Se você não solicitou para alterar senha apenas ignore</span>  
                        </td>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</body>
</html>